@(loginForm: Form[Application.Login], nav: String)

@import helper._
@import helper.twitterBootstrap._

@title={
	Sign Up <small><a href="@routes.SignUp.blank">Create a new account</a>
	
}        
        
@main(title, nav =""){
	
	
	  	<div class="span12">
   			
       
        
       	
        <legend>Sign in</legend>
        <div class="span6">
       	 @helper.form(routes.Application.authenticate) {
	
			
            
	        @if(loginForm.hasGlobalErrors) {
                <p class="error">
                    @loginForm.globalError.message
                </p>
            }

            @if(flash.contains("success")) {
                <p class="success">
                    @flash.get("success")
                </p>
            }

			@inputText(
				loginForm("email"),
				'_label -> "Email",
				'_error	->	loginForm.error("email")
			)
			
			@inputPassword(
				loginForm("password"),
				'_label -> "Password",
				'_error	-> loginForm.error("password")
				)
            <p>
                <button class="btn btn-small btn-primary" type="submit">Login</button>
                 <a href="@routes.SignUp.blank" class="btn btn-small">SignUp</a>
            </p>
		
			
    
        }
        
	}        
	
		</div>
		
      
          
    
  <p class="note">
            Try <em>xavier@@yahoo.com</em> with <em>secret</em> as password.
        </p>
        </div>

        